* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

nav, footer {
    padding: 1% 0;
    background-color: #aaa;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#nav-link {
    margin: 0 80px;    
}

header {
    padding: 45px 15px;
}

section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #bbb;
}

section:nth-child(even) {
    background-color: #ddd;
}

#camera-image {
    max-width: 20vw;
    max-height: 20vh;
    border: 2px solid darkgray;
}

ul {
    list-style-type: none;
    text-align: center;
    max-width: 60vw;
    margin: 2em auto;
    padding: 0;
}

input {
    text-align: left;
    min-width: 45vw;
    height: 24px;
    border-radius: 5px;
    margin: 0.3em 0;
}

#tasting-notes {
    min-height: 20vh;
}

button {
    padding: 0.5em 1em;
    border-radius: 5px;
}